body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: auto;
    min-width: 770px;
}
ul{
    list-style-type: none;
    padding: 0;
}
#frameContent {
    display: flex;
}

#nav {
    width: 200px;
    min-height: 100vh;
    padding: 17px;
    /*background-color: #CAE9FF;*/
    border-right:#CAE9FF solid 3px;
    /*background-image: url('./img/KakaoTalk_20240307_195544950_04.jpg');
    background-size: cover;*/
    box-sizing: border-box;

    font-weight: bolder;
    border-right: #CAE9FF solid;
}
#nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #1B1F28;
}
#smallNav > div{
    min-height: calc(100vh - 100px);
}
#smallNav > #navGradient{
    margin-top: 0;
}
#nav> ul > li {
    margin-bottom: 15px;
    font-weight: bold;
}
#nav>ul>div>li{
    margin: 0 8px 0 8px;
    padding-top: 2px;
}
#nav ul ul{
    margin-top: 5px;
    padding-bottom: 20px;
}
#nav ul ul li {
    font-weight:550;
    font-size: 0.8em;
    color: lightslategray;
    margin-bottom: 6px;
    margin-left: 25px;
}

/*contennt*/
#content {

    width: 75%;
    padding: 5% ;
    box-sizing: border-box;
    border-right: #36404E solid 1px;
}