body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: scroll;
    min-width: 770px;
}
ul{
    list-style-type: none;
    padding: 0;
}

/*header*/
#header {
    background-color: #F2EBFF;
    color: white;
    padding: 10px 0;
}
.container {
    border-bottom: white dotted;
    text-align: center;
    padding: 0 10% 0 10%;
    margin: auto;
    overflow: hidden;
}
#header .profile {
    float: right;
    width: 50px;
    height: 50px;
    background-color: #272E39;
    border-radius: 50%;
}

#header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header > .container >ul>li:first-child{
    color:white;/*gradiention*/
}

#header ul li {
    float: left;
    display: block;
    padding: 0 10px;
    line-height: 50px;
}
#header ul li:first-child {
   font-size:1.5em;
   padding-right: 100px;
}
/*mypageContent*/
#mypageContent {
    display: flex;
}

/*content nav*/
#nav {
    width: 200px;
    padding: 17px;
    background-color: #F1FAF0;
    /*background-image: url('./img/KakaoTalk_20240307_195544950_04.jpg');
    background-size: cover;*/
    box-sizing: border-box;
    color: #FFECCF;
    font-weight: bolder;
}

#nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #1B1F28;
}
#smallNav > div{
    background-color: #FFF2F5;
    /*background-image: url('./img/스크린샷\ 2024-03-09\ 032502.png');
    background-size: cover;*/
    min-height: calc(100vh - 100px);
    
}
#smallNav > #navGradient{
    margin-top: 0;
}
#nav> ul > li {
    margin-bottom: 15px;
    font-weight: bold;
}
#nav>ul>div>li{
    margin: 0 8px 0 8px;
    padding-top: 2px;
    border-left: white dotted;
    border-right: white dotted;
    border-bottom:  white dotted;;
}
#nav ul ul{
    margin-top: 5px;
    padding-bottom: 20px;
}
#nav ul ul li {
    font-weight:550;
    font-size: 0.8em;
    color: lightslategray;
    margin-bottom: 6px;
    margin-left: 25px;
}

/*contennt*/
#content {
    width: 75%;
    padding: 5% ;
    box-sizing: border-box;
    margin: 0 3% 3% 0;
    border-bottom: #3F568E dotted;
    border-right: #3F568E dotted;

}
#profile_userIntro {
    display: flex;
    align-items: center;
}
#pofileSet{
    display: inline-block;
}
.profile {
    margin-right: 20px;
    background-color: #FAD9CB;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('./img/user5.png');
    background-size: cover;
    border: 1px #36404E solid;  
    margin-bottom: 15px;
}
#ChangeprofileImg{
    margin-left: 17px;/* =(.profile의 width - width)/2*/
    width: 66px;
    height: 18px;
    font-size: 0.7em;
}
#userIntro {
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    padding-left: 10px;
    /*background-image: url('./img/스크린샷\ 2024-03-09\ 032502.png');
    background-size: cover;*/
    background-color: #CAE9FF;
    width:86%;
    min-width: 10%;
    height: auto;
    font-size: 0.95em;
    color:rgb(77, 109, 142)
}
#userIntroContent{
    border: white dotted;
    padding: 7px 5px 7px 25px; 
}

#boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.contentBox {
    width: 40%;
    height: 300px; /* 원하는 높이로 수정 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    /*background-image: url('./img/스크린샷\ 2024-03-09\ 032502.png');
    background-size: cover;*/
    background-color: #D2E0FB;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
}

.boxContent{
    border: 3px white dotted;
    height: 290px;
}
#box1Content, #box2Content{
    padding: 10px;
    font-weight: lighter;
    font-size: 0.9em;
}

#myCalendar{
    background-image: url('./img/c.png');
    background-size: cover;
    min-width: 35%;
    height: 150px;
}
